# Lista bibliotek wymaganych do uruchomienia projektu

Flask-WTF
Flask-Login
Flask-SQLAlchemy
python-dotenv

requests
beautifulsoup4
selenium

python-dateutil
holidays
yfinance
email-validator
googletrans
