# Lista bibliotek wymaganych do uruchomienia projektu

Flask-WTF
Flask-Login
Flask-SQLAlchemy
python-dotenv

requests
beautifulsoup4
selenium
schedule
pytest
playwright
pytest-playwright

python-dateutil
holidays
yfinance
psycopg2-binary
email-validator
googletrans
pytest