<nav class="navbar main-navbar fixed-top">
  <div class="container-fluid px-4">

    <!-- LEWA STRONA -->
<a class="navbar-brand d-flex align-items-center gap-2" href="{{ url_for('main.index') }}">
  <img src="{{ url_for('static', filename='img/logo1.png') }}" 
       alt="Logo" 
       class="nav-logo">
  <span class="nav-brand-text">Serwis informacyjny</span>
  {% if current_user.is_authenticated %}
    <span class="nav-welcome-text ms-2">Witaj, {{ current_user.nickname }}</span>
  {% endif %}
</a>

    <!-- PRAWA STRONA -->
    <div class="navbar-icons d-flex align-items-center ms-auto">
      <a href="{{ url_for('main.index') }}" class="icon-btn" title="Strona główna">
        <i class="bi bi-house"></i>
      </a>
      {% if current_user.is_authenticated %}
      <a href="#" class="icon-btn" title="Horoskop">
        <i class="bi bi-calendar-heart"></i>
      </a>
      <a href="#" class="icon-btn" title="Pogoda">
        <i class="bi bi-cloud-sun"></i>
      </a>
      <a href="#" class="icon-btn" title="Wiadomości">
        <i class="bi bi-card-checklist"></i>
      </a>
      <a href="#" class="icon-btn" title="Ekonomia">
        <i class="bi bi-coin"></i>
      </a>
      <button type="button" class="icon-btn theme-toggle-btn" title="Zmień motyw">
        <i class="bi bi-moon"></i>
        <i class="bi bi-sun" style="display: none;"></i>
      </button>
        <a href="{{ url_for('main.account_settings') }}" class="icon-btn" title="Ustawienia konta">
          <i class="bi bi-gear"></i>
        </a>
      {% else %}
        <button type="button" class="icon-btn theme-toggle-btn" title="Zmień motyw">
          <i class="bi bi-moon"></i>
          <i class="bi bi-sun" style="display: none;"></i>
        </button>
        <a href="{{ url_for('auth.login') }}" class="icon-btn" title="Logowanie">
          <i class="bi bi-person-circle"></i>
        </a>
      {% endif %}
    </div>

  </div>
</nav>
