/* Ogólne style dla całej aplikacji */
/* ===========================
   PODSTAWA
   =========================== */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Główna przestrzeń pod navbar – wspólna dla wszystkich stron */
.main-content {
  height: calc(100vh - 110px);
  margin: 60px auto 0;    
  width: 90%;    
  max-width: 1300px;

  display: flex;
  justify-content: center;
  align-items: stretch; 

  padding: 1.5rem 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

/* Stopka – wspólna */
.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  background: #000000;
  border-top: 1px solid #eee;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  font-size: 0.85rem;
  color: #666;
  z-index: 998;
}

@media (max-width: 768px) {
  .main-content {
    height: auto;
    min-height: calc(100vh - 60px);

    width: 90%;
    padding: 0.5rem 0.5rem;
    margin: 0 auto;

    overflow: visible;
    align-items: flex-start;

    padding-bottom: 4rem;
  }

  .main-footer {
    display: none;
  }
}
